---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="About" activeLink="about">
  <main class="max-w-screen-lg mx-auto">
    <h2 class="text-regular font-bold mb-[1.5em]">About</h2>
    <p>🚧</p>
  </main>
</DefaultLayout>
