---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Home" activeLink="home">
  <main class="pl-[330px]">
    <h1 class="max-w-[846px] text-night text-big font-bold">
      Hello, I'm Alec (he/him). <br />I'm a digital product designer living and
      working remotely in Oklahoma City.
    </h1>
    <p>
      My passion is rooted in creating products and experiences that impact
      others in positively. Currently, I design at Prenda where I've built the
      Prenda Design System, created a marketplace for learners to connect with
      teachers, and reimagined aspects of the brand and brand story.
    </p>
    <p>
      Prior to this I spent three and a half years at LegalShield growing the
      design team from a group of two to a group of ten. While there I lead the
      product design group, worked to redesign LegalShield mobile experience,
      and helped to reimagine the LegalShield brand.
    </p>
    <p>
      I made this website to talk about my work and to provide a place where I
      can write & share my thoughts around design.
    </p>
  </main>
</DefaultLayout>
