---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Work">
  <main>
    <section>
      <h2>Select Work</h2>
    </section>
    <section>
      <h2>Resume</h2>
    </section>
    <section>
      <h2>Volunteer Experience</h2>
    </section>
  </main>
</DefaultLayout>
