<div class="relative w-[56px] h-[54px]">
  <div
    class="w-[33px] h-[33px] rounded-full  absolute bg-cream top-0 left-3 mx-auto"
  >
  </div>
  <div
    class="w-[33px] h-[33px] rounded-full  absolute bg-cream bottom-px left-0"
  >
  </div>
  <div
    class="w-[33px] h-[33px] rounded-full  absolute bg-cream right-0 bottom-0"
  >
  </div>
  <div
    class="w-[33px] h-[33px] rounded-full mix-blend-multiply absolute bg-magenta top-0 left-3 mx-auto"
  >
  </div>
  <div
    class="w-[33px] h-[33px] rounded-full mix-blend-multiply absolute bg-cyan bottom-px left-0"
  >
  </div>
  <div
    class="w-[33px] h-[33px] rounded-full mix-blend-multiply absolute bg-yellow right-0 bottom-0"
  >
  </div>
</div>
