---
export interface Props {
  activeLink: "home" | "work" | "writing" | "about";
}
const { activeLink } = Astro.props;

function linkClass(type: string): string {
  const base = "text-regular text-overcast font-bold";
  const active =
    type === activeLink
      ? "text-night flex items-center relative before:block before:w-6 before:h-6 before:rounded-full before:absolute before:left-[-30px]"
      : "";
  const color = {
    home: "before:bg-[#ff7a00]",
    work: "before:bg-[#ff00e5]",
    writing: "before:bg-[#ffe500]",
    about: "before:bg-[#00f0ff]",
  }[type];
  return `${base} ${active} ${color}`;
}
---

<nav class="ml-[330px] pt-10">
  <ul class="flex space-x-20">
    <li>
      <a href="/" class={linkClass("home")}>Home</a>
    </li>
    <li>
      <a href="/work" class={linkClass("work")}>Work</a>
    </li>
    <li>
      <a href="/writing" class={linkClass("writing")}>Writing</a>
    </li>
    <li>
      <a href="/about" class={linkClass("about")}>About</a>
    </li>
  </ul>
</nav>
