<main class="max-w-screen-lg mx-auto">
  <article class="max-w-[632px]">
    <slot />
  </article>
</main>

<style>
  article :global(h2) {
    @apply text-regular font-bold mb-[1.5em] mt-[2em];
  }

  article :global(h3) {
    @apply text-medium font-semibold mb-[1.5em] mt-[2em];
  }

  article :global(strong) {
    @apply font-semibold;
  }

  article :global(img) {
    @apply my-10 max-w-full h-auto;
  }
</style>
