---
import DefaultLayout from "./DefaultLayout.astro";

export interface Props {
  title: string;
  date: string;
}
const { content } = Astro.props as { content: Props };
---

<DefaultLayout title={content.title} activeLink="writing">
  <main class="max-w-screen-lg mx-auto">
    <article class="max-w-[632px]">
      <time datetime={content.date}
        >{new Date(content.date).toLocaleDateString("en-US", {
          dateStyle: "long",
        })}</time
      >
      <slot />
    </article>
  </main>
</DefaultLayout>

<style>
  article :global(h2) {
    @apply text-regular font-bold mb-[1.5em];
  }

  article :global(h3) {
    @apply text-medium font-semibold mb-[1.5em];
  }

  article :global(strong) {
    @apply font-semibold;
  }

  article :global(img) {
    @apply my-10 max-w-full h-auto;
  }
</style>
