---
import { SEO } from "astro-seo";
import DefaultLayout from "./DefaultLayout.astro";

export interface Content {
  title: string;
  date: string;
  description: string;
}
const { content } = Astro.props as { content: Content };
---

<DefaultLayout activeLink="writing">
  <SEO
    slot="seo"
    title={`Alec Danz | ${content.title}`}
    description={content.description}
    openGraph={{
      basic: {
        title: content.title,
        type: "article",
        image: `${Astro.site}share-image.png`,
      },
      optional: {
        description: content.description,
        siteName: "Alec Danz",
      },
      image: {
        alt: "Alec Danz, the designer of this website, and creator of its content, in portrait",
      },
      article: {
        publishedTime: content.date,
      },
    }}
  />

  <main class="max-w-screen-lg mx-auto">
    <article class="max-w-[632px]">
      <time datetime={content.date}
        >{new Date(content.date).toLocaleDateString("en-US", {
          dateStyle: "long",
        })}</time
      >
      <slot />
    </article>
  </main>
</DefaultLayout>

<style>
  article :global(h2) {
    @apply text-regular font-bold mb-[1.5em];
  }

  article :global(h3) {
    @apply text-medium font-semibold mb-[1.5em];
  }

  article :global(strong) {
    @apply font-semibold;
  }

  article :global(img) {
    @apply my-10 max-w-full h-auto;
  }
</style>
