---
import DefaultLayout from "./DefaultLayout.astro";

export interface Props {
  title: string;
  date: string;
}
const { content } = Astro.props as { content: Props };
---

<DefaultLayout title={content.title} activeLink="writing">
  <main>
    <slot />
  </main>
</DefaultLayout>
